In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/marketing-strategy-personalised-offer/sample.csv
/kaggle/input/marketing-strategy-personalised-offer/train_data.csv
/kaggle/input/marketing-strategy-personalised-offer/test_data.csv

In [2]:
test_data=pd.read_csv('/kaggle/input/marketing-strategy-personalised-offer/test_data.csv')
train_data=pd.read_csv('/kaggle/input/marketing-strategy-personalised-offer/train_data.csv')
sample=pd.read_csv('/kaggle/input/marketing-strategy-personalised-offer/sample.csv')

In [3]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
simpleimputer = SimpleImputer(strategy='most_frequent')
d={}
c=train_data.columns
for i in train_data.columns :
  d[i] = sum(train_data[i].value_counts())
for i in d.keys():
  if d[i] <=10000 :
    print(i)
    train_data[i] = labelencoder.fit_transform(train_data[i])
  
train_data = simpleimputer.fit_transform(train_data)
train_data = pd.DataFrame(train_data,columns=c)

car

In [4]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
for i in test_data.columns :
  #print(test_data[i].value_counts())
  test_data[i] = labelencoder.fit_transform(test_data[i])
for i in train_data.columns :
  #print(train_data[i].value_counts())
  train_data[i] = labelencoder.fit_transform(train_data[i])

In [5]:
y = train_data['Offer Accepted']
X = train_data[train_data.columns.drop('Offer Accepted')]
X

,offer expiration,income_range,no_visited_Cold drinks,travelled_more_than_15mins_for_offer,Restaur_spend_less_than20,Marital Status,restaurant type,age,Prefer western over chinese,travelled_more_than_25mins_for_offer,...,Job/Job Industry,restuarant_opposite_direction_house,has Children,visit restaurant with rating (avg),temperature,Restaur_spend_greater_than20,Travel Time,Climate,drop location,Prefer home food
0,1,1,1,1,3,1,1,3,0,0,...,24,0,0,4,1,3,4,0,1,0
1,1,8,1,0,1,1,4,6,0,0,...,24,0,1,3,2,0,3,1,1,0
2,1,8,3,1,0,2,2,1,1,0,...,1,1,1,4,1,3,0,2,0,1
3,0,4,3,0,0,2,4,5,1,0,...,21,0,1,3,2,0,0,1,2,0
4,1,1,4,1,0,2,1,0,0,1,...,21,1,0,3,0,3,0,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12374,0,3,3,1,2,3,3,6,0,0,...,21,1,1,1,2,4,4,1,1,0
12375,1,3,1,0,4,2,4,0,0,0,...,17,1,1,2,1,4,3,1,1,0
12376,0,8,1,1,2,1,2,2,0,1,...,15,1,0,2,2,2,3,0,1,1
12377,0,2,1,1,3,1,0,1,0,0,...,22,1,0,1,2,3,0,1,2,0
12378,1,4,0,1,3,3,1,7,1,0,...,15,1,0,0,1,3,0,0,0,1

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state =0)

In [7]:
X_T = test_data
X_T

,offer expiration,income_range,no_visited_Cold drinks,travelled_more_than_15mins_for_offer,Restaur_spend_less_than20,Marital Status,restaurant type,age,Prefer western over chinese,travelled_more_than_25mins_for_offer,...,Job/Job Industry,restuarant_opposite_direction_house,has Children,visit restaurant with rating (avg),temperature,Restaur_spend_greater_than20,Travel Time,Climate,drop location,Prefer home food
0,1,4,0,1,0,0,4,6,0,1,...,21,1,1,4,2,3,0,1,2,0
1,0,3,1,0,0,3,2,0,1,0,...,5,1,1,0,1,3,3,1,0,1
2,1,1,4,1,4,2,2,0,1,0,...,24,1,0,4,1,4,0,1,2,0
3,1,3,4,1,0,1,3,4,0,0,...,24,1,1,0,0,3,3,0,2,1
4,0,2,4,0,0,2,0,2,1,0,...,24,0,0,0,2,0,3,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5300,1,3,3,0,3,3,1,1,0,0,...,9,0,0,1,1,0,3,1,1,0
5301,0,6,0,0,1,1,0,1,0,0,...,24,0,0,3,2,0,3,1,1,1
5302,0,5,2,1,1,1,2,3,0,0,...,1,1,1,2,1,0,0,1,2,1
5303,1,5,0,1,0,1,3,3,1,0,...,7,1,1,3,2,0,0,1,0,0
5304,1,4,3,0,0,1,1,6,1,0,...,5,1,1,4,2,0,0,2,0,0

In [8]:
from sklearn.ensemble import HistGradientBoostingClassifier
cl = HistGradientBoostingClassifier()
cl.fit(X_train,y_train)
cl.score(X_test,y_test)
y_pred = cl.predict(X_T)

In [9]:
submission=pd.DataFrame(columns=['id','Offer Accepted'])

submission['id']=[i for i in range(len(y_pred))]


submission['Offer Accepted']=['Yes' if y_pred[i] == 1 else 'No' for i in range(len(y_pred))]

# Export it as an csv
submission.to_csv('submission.csv',index=False)